@import '../common.scss';

.large {
  font-size: 20px;
}

.medium {
  font-size: 12px;
}

.onWhiteBackground {
  color: black;
}

.onGrayBackground {
  color: black;
}

.onDarkBackground {
  color: white;
}