@import '../common.scss';

.large {
  font-size: 20px;
}

.medium {
  font-size: 12px;
}

.onWhiteBackground {
  .item:not(.active):hover {
  }
}

.onGrayBackground {
  color: black;
}

.onDarkBackground {
  color: white;
}

.item:not(.active) {
  cursor: pointer;
}