@import '../common.scss';

.large {
  font-size: 20px;
}

.medium {
  font-size: 12px;
}

.onWhiteBackground {
  .item:not(.active):hover {
  }
}

.onGrayBackground {
  color: black;
}

.onDarkBackground {
  color: white;
}

.item:not(.active) {
  cursor: pointer;
}

.item {
	display: inline-block;
	& + .item:before {
		//change to arrow icon
		content: 'arrow';
	}
}