/**
body
{
    font-family: "HelveticaNeueW01-45Ligh", "HelveticaNeueW02-45Ligh", "HelveticaNeueW10-45Ligh", "Helvetica Neue", "Helvetica", "Arial", "\30E1\30A4\30EA\30AA", "meiryo", "\30D2\30E9\30AE\30CE\89D2\30B4 pro w3", "hiragino kaku gothic pro";
    color: #222;
    line-height: 1.2;
}

body
{
    font-size:13px;
}

:global(table.attributes)
{
    width:calc(100% - 40px);
    padding:20px;
    table-layout: fixed;
    border-collapse: collapse;
}

:global(table.attributes tr)
{
    border-bottom: 1px solid #ebebeb;
}

:global(table.attributes th)
{
    color: #000;
    font-weight: bolder;
    text-align: left;
}

:global(table.attributes th, table.attributes td)
{
    word-wrap: normal;
    height: 26px;
    padding: 0 10px;
}

:global(table.attributes th, table.attributes td:first-child)
{
    font-family: "HelveticaNeueW01-55Roma", "HelveticaNeueW02-55Roma", "HelveticaNeueW10-55Roma", "Helvetica Neue", "Helvetica", "Arial", "\30E1\30A4\30EA\30AA", "meiryo", "\30D2\30E9\30AE\30CE\89D2\30B4 pro w3", "hiragino kaku gothic pro";
}

pre 
{
    font-family: "Courier 10 Pitch", Courier, monospace;
    font-size: 95%;
    line-height: 140%;
    white-space: pre;
    white-space: pre-wrap;
    white-space: -moz-pre-wrap;
    white-space: -o-pre-wrap;
    margin-bottom: 0px;
}       

code 
{
    font-family: Monaco, Consolas, "Andale Mono", "DejaVu Sans Mono", monospace;
    font-size: 95%;
    line-height: 140%;
    white-space: pre;
    white-space: pre-wrap;
    white-space: -moz-pre-wrap;
    white-space: -o-pre-wrap;

    background: lightyellow;
    display: inline-block;
    padding: 10px;
    margin-left: 30px;
}

#content code {
    display: block;
    padding: 0.5em 1em;
    border: 1px solid #bebab0;
}

:global(.coderun)
{
    margin-left: 30px;
}*/

.page-header {
    color: #fff;
    background: #191818;
    margin: 0;
    padding: 10px 20px;
}

.editor-pane {
    position: fixed;
    top: 57px;
    left: 0;
    bottom: 0;
    width: 50%;
    height: auto;
    overflow: auto;
    box-shadow: -10px 2px 6px 10px rgba(0,0,0,0.4);
}

.result-pane > div {
    position: fixed;
    top: 57px;
    right: 0;
    left: 50%;
    bottom: 0;
    overflow: auto;
    padding: 10px;
    padding-left: 20px;
    color: #444;
    font-family: Georgia, Palatino, 'Palatino Linotype', Times, 'Times New Roman', serif;
    font-size: 16px;
    line-height: 1.5em;
}

.editor textarea {
    padding: 20px;
}

.editor-pane textarea {
    min-height: 500px;
}

.markdown-controls {
    position: relative;
    z-index: 5;
    text-align: right;
    color: #fff;
    float: right;
}

.markdown-controls form {
    background-color: rgba(39, 40, 34, 0.5);
    margin-right: 20px;
}

.markdown-controls legend {
    border-bottom: 0;
    color: #fff;
    font-size: 1.25em;
    margin: 0;
    padding: 10px 0 0 0;
}

.CodeMirror {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: auto;
    height: auto;

    font-size: 16px;
}

pre {
    border: 1px solid #ccc;
}

blockquote {
    color: #666;
    margin: 0;
    padding-left: 3em;
    border-left: 0.5em #eee solid;
}
